<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>{{ config.title }}
      {%- if section.title %} :: {{ section.title | safe }}{%- endif -%}
      {%- if page.title %} :: {{ page.title | safe }}{%- endif -%}
    </title>
  </head>
  <body>
    {% block content %} {% endblock %}
    <!-- <script src="app.js"></script> -->
  </body>
</html>
